element {
}
.form-signin {
  max-width: 330px;
  padding: 1rem;
}
.m-auto {
  margin: auto !important;
}
.w-100 {
  width: 100% !important;
}
*,
::after,
::before {
  box-sizing: border-box;
}
.bg-body-tertiary {
  --bs-bg-opacity: 1;
}

.body-custom-css {
  height: 100vh !important;
}

/* NAVBAR */
.custom-nav {
  background-color: #2b2a4c;
}

/* navbar links */
.custom-nav-link {
  color: #ea906c;
}

.custom-nav-link:hover {
  color: #eee2de;
}

.custom-nav-link:active {
  color: #b31312;
}

/* navbar buttons */
.btn-primary {
  background-color: #2b2a4c;
  color: #ea906c;
  border: 1px solid #ea906c;
  border-radius: 2px;
}

.btn-primary:hover {
  background-color: #2b2a4c;
  border: 1px solid #eee2de;
  color: #eee2de;
}

.btn-primary:active {
  color: #b31312 !important;
  background-color: #2b2a4c !important;
  border: 1px solid #b31312 !important;
}

.navbar-toggler-icon {
  background-image: url("../images/icons/toglericon.png");
}

/* inputs text */
.custom-input {
  border: #ea906c solid 1px;
  color: #2b2a4c;
  border-radius: 2px;
}

.custom-input:focus {
  border: #2b2a4c solid 1px;
  box-shadow: 2px 2px 5px #2b2a4c;
}

.textarea-custom {
  height: 240px !important;
}
